.DS_Store

node_modules/

logs
*.log
npm-debug.log*

.env
.env.local
.env.*.local

dist/
build/

node_modules/
jspm_packages/

coverage/

*.tmp
*.temp

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# chat-app/chat-app/.git/