@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    cursor: pointer;
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
}
